<h1>Admin Dashboard</h1>

<div>
  <h2>Total Users</h2>
  <p>
    There <%= @total_users == 1 ? 'is' : 'are' %> a total of <%= @total_users %> <%= @total_users == 1 ? 'user' : 'users' %>.
  </p>

  <%= link_to 'Add New User', new_admin_user_path, class: "btn btn-primary" %>
</div>